.App {
  position: relative;
  width: 400px;
  height: 600px;
  border-radius: 9px;
  border-width: 1px;
  box-shadow: 0 27px 20px 5px rgba(0, 0, 0, 0.03);
}

.image{
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background: #eec5ed;
  position: relative;
  width: 300xp;
  height: 400px;
}
.image > img {
  max-width: 100%;
  position: absolute;
  bottom: 0;
}
.infor_user{
  color: cadetblue;
  margin-left: 19px;
}
.des_user{
  color: cadetblue;
  margin-left: 230px;
}